@import '../../assets/styles/global.module.scss';

.mainBannerElemWrapper {
  background: no-repeat;
}

.titleWrapper {
  padding-top: 124px;
  margin-left: 100px;
}

.banerTitle {
  font-size: 62px;
  color: $white;
  font-family: $fonts;
  font-weight: bold;
}

.banerSubTitle {
  color: $white;
  font-size: 24px;
}

.bannerBtn {
  background: #fff;
  margin-bottom: 50px;
}

@media screen and (max-device-width: 1398px) {
  .titleWrapper {
    padding-top: 84px;
    margin-left: 80px;
  }

  .banerTitle {
    font-size: 20px;
  }

  .bannerBtn {
    background: #fff;
    margin-bottom: 35px;
  }
}

@media screen and (max-device-width: 768px) {
  .titleWrapper {
    padding-top: 34px;
    margin-left: 50px;
  }

  .banerTitle {
    font-size: 18px;
  }

  .bannerBtn {
    background: #fff;
    margin-bottom: 15px;
  }
}
