@import '../../assets/styles/global.module.scss';

.editBtn {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  border: 2px solid $blue;
  box-sizing: border-box;
  border-radius: 50px;
}
