@mixin fonts($font-family, $size: 16px, $color, $bold: 700) {
    font-family: $font-family, sans-serif;
    font-weight: $bold;
    font-size: $size;
    color: $color;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 4fr;
    // display: flex;
    // max-width: 1398px;
    margin: 15px auto;
    // position: relative;
    .categorieImg {
        // flex-basis: 15%;
        width: 230px;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        h3 {
            text-transform: capitalize;
            margin-top: 70%;
            @include fonts("Poppins", 28px, white, 600);
        }
        p {
            margin-top: 70%;
            @include fonts("Poppins", 13px, white, 400);
            cursor: pointer;
            text-decoration: underline;
        }
    }
    // .categorieSlider {
    //     flex-basis: 85%;
    // }
}
.categoriesWrapper {
    max-width: 1165px;
}
.categorieSlider {
    width: 100%;
}

@media (max-width: 1024px) {
    .categories {
        grid-template-columns: 1fr 3fr;
    }
}
@media (max-width: 768px) {
    .categories {
        grid-template-columns: 1fr 2fr;
        // .categorieImg {
        //     flex-basis: 25%;
        // }
        // .categorieSlider {
        //     flex-basis: 75%;
        // }
    }
}
@media (max-width: 376px) {
    .categories {
        display: block;
        margin: 0 10px;
        .categorieImg {
            width: 100%;
            height: 82px;
            background-attachment: fixed;
            h3 {
                margin: 0;
                padding-top: 15px;
            }
            p {
                margin-top: 10px;
            }
        }
    }
}
