@import '../../assets/styles/global.module.scss';

.searchedProductsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    max-width: 1398px;
}

.cardWrapper {
    max-width: 232px;
}

.productName {
    margin: 0 auto;
    max-width: 1398px;
    margin-top: 30px;
    font-family: $fonts;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

@media screen and (min-device-width: 769px) and (max-device-width: 1169px) {
    .searchedProductsContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-device-width: 376px) and (max-device-width: 768px) {
    .searchedProductsContainer {
        grid-template-columns: repeat(3, 1fr);
        justify-items: stretch;
    }
    
}

@media screen and (min-device-width: 376px) and (max-device-width: 479px) {
    .searchedProductsContainer {
        grid-template-columns: repeat(2, 1fr);
        justify-items: stretch;
    }
}

@media screen and (max-device-width: 375px) {
    .searchedProductsContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .cardWrapper {
        width: 232px;
    }
}