@import "../../assets/styles/global.module.scss";

@mixin fonts($font-family, $size: 16px, $color, $bold: 700) {
    font-family: $font-family, sans-serif;
    font-weight: $bold;
    font-size: $size;
    color: $color;
}

.filterItem {
    margin-top: 20px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
}
.gridItemContainer {
    width: 100%;
    height: 100%;
}

.paginateContainer {
    display: flex;
    margin: 55px auto;
    justify-content: center;
    li {
        a {
            @include fonts("Poppins", 13px, $dark-grey-text, 600);
            padding: 8px 16px;
            border: 2px solid $dark-grey-text;
            border-radius: 50%;
        }
    }
}
.activeLinkClassName {
    color: $black !important;
    border: none !important;
    background-color: $bg-white-color;
}
.noItems {
    @include fonts("Poppins", 26px, $black, 600);
    text-align: center;
    margin-top: 10%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .filterItem {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .filterItem {
        grid-template-columns: repeat(3, 1fr);
    }
    .paginateContainer {
        li {
            margin: 5px;
        }
    }
}
@media (max-width: 426px) {
    .filterItem {
        grid-template-columns: repeat(2, 1fr);
    }
    .paginateContainer {
        li {
            margin: 5px;
        }
    }
}
