@import '../../assets/styles/global.module.scss';

.cartWrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1398px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
}
.cartPageTitle {
  color: $black;
  font-size: 32px;
  font-weight: 600;
  margin-top: 68px;
  line-height: 48px;
}
.cartItemHeaders {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 0.5fr;
  font-size: 14px;
  font-weight: 600;
  margin-top: 29px;
  line-height: 21px;
  padding-bottom: 13px;
  justify-content: space-between;
  border-bottom: 1px solid $grey-star;
}
.cartPageColumn {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}

.CartButtonWrapper {
  margin-top: 25px;
}
.CartButtonShopping {
  border: 2px solid $dark-grey-text;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 8px 30px;
  margin-right: 7px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $dark-grey-text;
  cursor: pointer;
}
.CartButtonClearCart {
  background: $black;
  border-radius: 50px;
  color: $white;
  padding: 8px 30px;
  border: 2px solid black;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}
.advantagesBackGround {
  background-color: $bg-white-color;
}
.summaryContainer {
  background-color: $bg-white-color;
  max-width: 430px;
  width: 100%;
}
.summaryWrapper {
  padding: 17px 30px;
}
.titleSummary {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: $black;
  margin-bottom: 19px;
  border-bottom: 1px solid $grey-star;
  padding-bottom: 10px;
}
.summaryContent {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.summarytext {
  font-weight: 600;
  font-size: 13px;
  line-height: 210%;
  color: $black;
}
.summaryButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.buttonProceed {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  background-color: $blue;
  color: $white;
  border-radius: 50px;
  border: none;
  padding: 8px 0px;
  text-align: center;
}
.buttonCheck {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  background-color: $orange;
  color: #232c65;
  border-radius: 50px;
  border: none;
  padding: 8px 0px;
  text-align: center;
}

@media (max-width: 768px) and (min-width: 500px) {
  .cartPageColumn {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .summaryContainer {
    // width: 345px;
  }
  .summaryWrapper {
    padding: 20px;
  }
  .cartPageTitle {
    // font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  .cartItemHeaders {
    display: none;
  }
  .titleSummary {
    font-size: 14px;
    line-height: 21px;
  }
  .summarytext {
    font-size: 11px;
    line-height: 210%;
  }
  .buttonProceed {
    font-size: 13px;
    line-height: 20px;
    // padding: 8px 50px;
  }
  .buttonCheck {
    font-size: 13px;
    line-height: 20px;
    // padding: 8px 50px;
  }
  .CartButtonShopping {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    // padding: 8px 90px;
    margin-bottom: 10px;
  }
  .CartButtonClearCart {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    // padding: 8px 87px;
  }
  .CartButtonWrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) and (min-width: 240px) {
  .cartPageColumn {
    grid-template-columns: 1fr;
    column-gap: 20px;
  }

  .summaryWrapper {
    padding: 20px;
  }
  .cartPageTitle {
    // font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  .cartItemHeaders {
    display: none;
  }
  .titleSummary {
    font-size: 14px;
    line-height: 21px;
  }
  .summarytext {
    font-size: 11px;
    line-height: 210%;
  }
  .buttonProceed {
    font-size: 13px;
    line-height: 20px;
  }
  .buttonCheck {
    font-size: 13px;
    line-height: 20px;
  }
  .CartButtonShopping {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .CartButtonClearCart {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
  }
  .CartButtonWrapper {
    display: flex;
    flex-direction: column;
  }
  .cartPageGridWrapper {
    order: 1;
  }
}
