@import '../../assets/styles/global.module.scss';

.errorWrapper {
  max-width: 1398px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10%;
}

.errorMainText {
  font-family: $fonts;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 132.5%;
}

.errorImage {
  margin-top: 50px;
  max-width: 260px;
  max-height: 260px;
}
